.synthetic {
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 18px;
}

.synthetic td {
    padding: 10px;
    text-align: center;
    min-width: 50px;
}

.synthetic .line {
    border-left: 2px solid black;
}

.synthetic .bottom td {
    border-top: 2px solid black;
}

.synthetic .r {
    font-weight: bold;
}